body#debug:before {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: .6em;
  margin: 0;
  padding: 0;
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

#Top_bar {
  height: 100px;
}

#Top_bar .top_bar_left {
  width: 100% !important;
}

.logoNew {
  width: 24%;
  height: 100px;
  display: block;
  float: left;
  margin-left: 1%;
}

.logoNew a {
  display: block;
  height: 100%;
  width: auto;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.logoNew a .align {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.logoNew a img {
  max-width: 97%;
  display: inline-block;
  vertical-align: middle;
}

.logoNew a:hover {
  text-decoration: none;
  opacity: 0.75;
}

nav.mainMenu {
  float: right;
  height: 100px;
  width: 73%;
  float: right;
  margin-right: 1%;
}

nav.mainMenu ul {
  display: block;
  text-align: right;
  float: right;
  height: 100%;
  position: relative;
  z-index: 100;
}

nav.mainMenu ul li {
  float: left;
  display: inline-block;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
  height: 100%;
}

nav.mainMenu ul li:last-child {
  padding-right: 0 !important;
}

nav.mainMenu ul li:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 3px;
  background: #4d9441;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

nav.mainMenu ul li a {
  color: #979ca3;
  padding: 15px 0;
  box-sizing: border-box;
  display: block;
  line-height: 66.66667px;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
  font-weight: 400;
  font-size: 1.25em;
  height: 100%;
}

nav.mainMenu ul li a:hover {
  text-decoration: none;
  color: #4d9441;
}

nav.mainMenu ul li:hover:after {
  opacity: 1;
}

nav.mainMenu ul li:hover > ul {
  display: block;
}

nav.mainMenu ul li.current-menu-item > a {
  color: #4d9441;
}

nav.mainMenu ul li.current-menu-item:after {
  opacity: 1;
}

nav.mainMenu ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  background: #F2F2F2;
  width: auto;
  height: auto;
  padding: 0;
  text-align: left;
  display: none;
  z-index: 200;
}

nav.mainMenu ul li ul:hover {
  display: block;
}

nav.mainMenu ul li ul li {
  position: relative;
  width: 100%;
  display: block;
  padding: 0;
}

nav.mainMenu ul li ul li:after {
  display: none;
}

nav.mainMenu ul li ul li a {
  white-space: nowrap;
  line-height: 26px !important;
  padding: 5px 15px;
  font-size: 1.1em;
  color: #666;
  box-sizing: content-box;
  display: block;
  position: relative;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

nav.mainMenu ul li ul li a:hover {
  background: #e0e0e0;
}

nav.mainMenu ul li ul li.current-menu-parent > a {
  color: #4d9441;
}

nav.mainMenu ul li ul li.current-menu-parent:after {
  opacity: 1;
}

nav.mainMenu ul ul.sub-menu li.menu-item-has-children > a:first-child:after {
  content: '';
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  width: 8px;
  background: url("../images/arrow-right-black.svg") no-repeat;
  background-position: center center;
  background-size: 90%;
  opacity: 0.4;
}

nav.mainMenu ul li ul li ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0;
}

nav.mainMenu ul li ul li ul:hover {
  display: block;
}

#Top_bar.stick {
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 2000;
}

#Top_bar.stick .logoNew {
  height: 60px;
}

#Top_bar.stick nav.mainMenu {
  height: 60px;
}

#Top_bar.stick nav.mainMenu a {
  line-height: 31px;
}

.mfn-main-slider {
  position: relative;
}

.mfn-main-slider .carousel {
  width: 100%;
  height: auto;
}

.mfn-main-slider .carousel .slide {
  width: 100%;
  height: 36vw;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
}

.mfn-main-slider .carousel .text {
  text-align: center;
  box-sizing: border-box;
  padding: 14% 15% 0 15%;
}

.mfn-main-slider .carousel .text p {
  color: #fff;
  font-size: 1.4em;
  text-shadow: 0 0 20px #000;
}

.mfn-main-slider .carousel .text strong {
  font-weight: 500;
  font-size: 3em;
}

.mfn-main-slider .carousel .tag {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.mfn-main-slider .carousel .tag p {
  color: #fff;
  font-weight: 400;
  font-size: 1.1em;
  margin-bottom: 0;
}

.mfn-main-slider .carousel-nav {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.mfn-main-slider .carousel-nav a {
  position: absolute;
  top: -420%;
  width: 40px;
  height: 40px;
  text-align: center;
  box-sizing: border-box;
  padding: 13px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  opacity: 0;
}

.mfn-main-slider .carousel-nav a img {
  max-height: 100%;
  display: block;
}

.mfn-main-slider .carousel-nav a.prev {
  left: 0;
}

.mfn-main-slider .carousel-nav a.next {
  right: 0;
}

.mfn-main-slider .carousel-nav a:hover {
  background: rgba(0, 0, 0, 0.75);
}

.mfn-main-slider .carousel-nav .dots {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  text-align: center;
}

.mfn-main-slider .carousel-nav .dots ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.mfn-main-slider .carousel-nav .dots li {
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.mfn-main-slider .carousel-nav .dots li.slick-active {
  background: rgba(255, 255, 255, 0.75);
}

.mfn-main-slider .carousel-nav .dots button {
  background: none;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  background: transparent;
}

.mfn-main-slider .carousel:hover + .carousel-nav a,.mfn-main-slider .carousel-nav:hover a {
  opacity: 1;
}

.animatedNumbers .column_quick_fact span.number {
  font-size: 50px;
  line-height: 50px;
}

.homeBlogCarousel {
  padding-top: 90px;
  padding-bottom: 50px;
  background-image: url("../images/home_architect2_sectionbg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.homeNewsFeature {
  margin-bottom: 40px;
}

.homeNewsFeature .content {
  display: table;
  width: 100%;
  height: auto;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 15px;
  box-sizing: border-box;
}

.homeNewsFeature .content .image {
  width: 20%;
  display: table-cell;
  vertical-align: middle;
}

.homeNewsFeature .content .image img {
  display: block;
  max-width: 100%;
}

.homeNewsFeature .content .text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 10px;
}

.homeNewsFeature .content .text p:last-child {
  margin-bottom: 0;
}

.aboutIcons .icon span {
  display: block;
  width: 100%;
  height: 100%;
  float: left;
}

.aboutIcons .icon span:before {
  font-size: 60px;
  color: #799900;
  margin: 0;
  padding: 0;
  line-height: 80px;
}

.yearLinks {
  display: block;
  text-align: center;
  margin: 0 0 40px 0;
}

.yearLinks p {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 1.2em;
}

.yearLinks ul {
  display: block;
  width: 100%;
  text-align: center;
}

.yearLinks ul li {
  float: none;
  display: inline-block;
  position: relative;
  padding: 0 6px 0 4px;
}

.yearLinks ul li:after {
  content: '';
  position: absolute;
  display: block;
  top: -2%;
  right: 0;
  width: 1px;
  height: 104%;
  background: #ececec;
}

.yearLinks ul li:last-child:after {
  display: none;
}

.yearLinks ul a {
  font-weight: 700;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
  color: #6d6e71;
}

.yearLinks ul a:hover {
  text-decoration: none;
  color: #8DC63F;
}

.timeline {
  display: block;
  min-height: 200px;
  width: 100%;
  float: left;
  margin: 10px 0 30px 0;
  position: relative;
}

.timeline .line {
  display: block;
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background: #ececec;
}

.timeline ul {
  width: 100%;
  display: block;
  position: relative;
}

.timeline ul li {
  width: 50%;
  position: relative;
  margin-left: 50%;
  margin-bottom: 40px;
  box-sizing: border-box;
  padding: 10px 10px 10px 30px;
}

.timeline ul li:before {
  content: '';
  position: absolute;
  display: block;
  top: 20px;
  right: 99%;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 0 4px #8DC63F, 0 0 0 7px #fff;
}

.timeline ul li:after {
  content: '';
  position: absolute;
  display: block;
  top: 65px;
  right: 104%;
  width: 92%;
  height: 78%;
  background: url("../images/stripes/stripes_10_b.png") repeat;
}

.timeline ul h2 {
  color: #8dc63f;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  margin: 0 0 8px 0;
  padding: 0;
}

.timeline ul .marker {
  position: absolute;
  top: 10px;
  right: 105%;
  display: block;
  background: #ececec;
  height: 28px;
  width: auto;
  line-height: 28px;
  padding: 0 5px 0 8px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px !important;
  white-space: nowrap;
  font-weight: 700 !important;
}

.timeline ul .marker:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 9.33333px solid #ececec;
}

.timeline ul .image {
  display: block;
  max-width: 95%;
  margin: 15px 0;
  box-sizing: border-box;
}

.timeline ul .image img {
  display: block;
  max-width: 100%;
}

.timeline ul .image.border {
  border: 8px solid #fff;
}

.timeline ul .image.shadow {
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.25);
}

.timeline ul li:nth-child(even) {
  margin-left: 0;
  margin-right: 50%;
  text-align: right;
  padding: 10px 30px 10px 10px;
}

.timeline ul li:nth-child(even):before {
  right: -1%;
}

.timeline ul li:nth-child(even):after {
  right: auto;
  left: 104%;
}

.timeline ul li:nth-child(even) .marker {
  right: auto;
  left: 105%;
  padding: 0 8px 0 5px;
}

.timeline ul li:nth-child(even) .marker:after {
  border-left: none;
  border-right: 9.33333px solid #ececec;
  left: auto;
  right: 100%;
}

.timeline ul li:nth-child(even) .image {
  float: right;
}

.singleLocation {
  box-sizing: border-box;
  padding-top: 10px;
  margin-bottom: 30px;
  display: block;
}

.singleLocation a.back {
  color: #979ca3;
  font-weight: bold;
  display: inline-block;
  border: 1px solid #979ca3;
  margin-bottom: 20px;
  padding: 4px 7px;
  text-decoration: none;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.singleLocation a.back:hover {
  background: #979ca3;
  color: #fff;
  text-decoration: none;
}

.singleLocation > div {
  height: 46vw;
}

.singleLocation .locationInfo {
  width: 58.33333%;
  float: left;
  position: relative;
  border-right: 5px solid #fff;
  box-sizing: border-box;
}

.singleLocation .locationInfo .image {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: cover !important;
}

.singleLocation .locationInfo .details {
  background: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  padding: 20px 30px 20px 40px;
  margin-top: 10%;
  display: inline-block;
  float: left;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 2;
}

.singleLocation .locationInfo .details h3 {
  white-space: nowrap;
}

.singleLocation .locationInfo .details span,.singleLocation .locationInfo .details div {
  color: #fff;
  font-weight: 500;
}

.singleLocation .locationInfo .details .btn {
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 5px 10px;
  margin: 15px 0 0 0;
  display: inline-block;
  float: left;
  font-weight: 700 !important;
  letter-spacing: .1em;
  font-size: .9em;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.singleLocation .locationInfo .details .btn:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15);
}

.singleLocation .locationMap {
  width: 41.66667%;
  float: left;
  background: #dadada;
}/*Google Map Information Window Styles */.google-map-wrapper #map {
  min-height: 500px;
}

.iWindow {
  text-align: left;
  box-sizing: border-box;
  padding: 5px;
}

.iwTitle {
  color: #83AD52;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
  box-sizing: border-box;
  padding: 0 5px 5px 0;
  margin: 0;
}

.iwWebsite a {
  border: 2px solid #83AD52;
  color: #83AD52;
  text-transform: uppercase;
  padding: 3px 5px;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-top: 10px;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
  font-weight: bold;
  letter-spacing: .05em;
  font-size: .9em;
}

.iwWebsite a:hover {
  background: #83AD52;
  color: #fff;
}

footer a {
  -webkit-transition: .15s all ease;
  transition: .15s all ease;
}

footer a:hover {
  text-decoration: none;
}

.footerNav ul {
  line-height: 38px;
}

.footerNav li {
  display: block;
  margin-bottom: 10px;
  padding-left: 10px;
  position: relative;
}

.footerNav li:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 16%;
  background: #6F695C;
}

.footerSocialLinks {
  display: block;
  margin-bottom: 10px;
}

.footerSocialLinks a {
  font-size: 28px;
  line-height: 28px;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.footerSocialLinks a:hover {
  opacity: 0.5;
}

.singleJobPost {
  padding: 40px 5%;
}

.singleJobPost .description {
  width: 56.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  padding-right: 30px;
  box-sizing: border-box;
}

.singleJobPost .description h1 {
  color: #6d6e71;
  font-weight: 500;
  margin: 0;
  font-size: 38px;
  line-height: 1.4em;
}

.singleJobPost .description .jobInfo {
  margin-bottom: 20px;
  margin-top: 10px;
  display: block;
}

.singleJobPost .description .jobInfo p {
  margin: 0;
  padding: 0;
}

.singleJobPost .description .jobInfo a {
  font-size: .9em;
  font-style: italic;
  font-weight: 700;
}

.singleJobPost .applyForm {
  width: 40%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  padding-top: 20px;
}

.singleJobPost .applyForm h2 {
  color: #4d9441;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px solid #4d9441;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

.singleJobPost .applyForm input,.singleJobPost .applyForm textarea {
  width: 100%;
}

img.noZoom {
  -webkit-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  transform: scale(1) !important;
}

img.alignleft {
  margin: 0 15px 10px 0 !important;
  border: 4px solid #dadada;
}

.mb10 {
  margin-bottom: 10px;
}

.mt40 {
  margin-top: 40px;
}

p a {
  color: #4d9441 !important;
}

#Footer {
  background-color: #222 !important;
}

.communityGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.communityFilter {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.communityFilter button {
  display: inline-block;
  font-weight: 700;
  padding: 8px 10px;
  margin: 15px 3px 0 0;
  font-size: .85em;
  text-transform: uppercase;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.communityFilter button:focus {
  outline: none;
}

.communityFilter p {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 8px 0;
  position: relative;
}

.communityFilter p:before,.communityFilter p:after {
  content: '';
  position: absolute;
  top: 52%;
  width: 40%;
  height: 1px;
  background: #dadada;
}

.communityFilter p:before {
  left: 0;
}

.communityFilter p:after {
  right: 0;
}

.communityFilter button.search {
  background: #4d9441;
}

.communityFilter button.reset {
  background: #dadada;
}

.communityGridItem {
  width: 25%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.communityGridItem .photo {
  display: inline-block;
}

.communityGridItem .photo a {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1 !important;
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px #b2b6bb, -1px 2px 3px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  -webkit-transition: .15s all ease;
  transition: .15s all ease;
}

.communityGridItem .photo a:hover {
  box-shadow: 0 0 0 2px #979ca3, -1px 2px 5px rgba(0, 0, 0, 0.45);
}

.communityGridItem .photo img {
  max-width: 100%;
  display: block;
  opacity: 1 !important;
}

.communityGridItem h5 {
  display: block;
  margin: 5px 0 1px 0;
}

.communityGridItem a {
  color: #4d9441;
  font-weight: 700;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
  display: block;
  font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.communityGridItem a:hover {
  opacity: 0.75;
  text-decoration: none;
}

.communityGridItem .btn {
  border: 2px solid #4d9441;
  padding: 3px 7px;
  text-transform: uppercase;
  font-size: .85em;
  letter-spacing: .1em;
  margin: 10px 0 0 0;
  display: inline-block;
}

.communityGridItem .btn:hover {
  opacity: 1;
  background: #4d9441;
  color: #fff;
}

#communityFrm select:disabled {
  opacity: .4;
}

.team4column {
  width: 23.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.team4column .column {
  margin: 0 !important;
}

.team4column .desc {
  padding: 0 10px 0 20px;
  box-sizing: border-box;
}

.team4column h4 {
  min-height: 56px;
  margin: 5px 0 0 0;
}

.team4column p.subtitle {
  height: 50px;
  margin-bottom: 2px;
}

.team4column hr.no_line {
  display: none !important;
}

.span5 {
  width: 40%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

.span7 {
  width: 56.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

.contactInfo {
  box-sizing: border-box;
  padding-left: 13%;
}

.contactInfo h5 {
  color: #4d9441;
  margin-bottom: 3px;
}

.contactInfo p {
  margin-bottom: 22px;
}

.openPositions {
  display: block;
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 30px;
}

.openPositions h2 {
  color: #4d9441;
  font-weight: 700;
  font-size: 2.2em;
  border-bottom: 1px solid #dadada;
}

.openPositions .job {
  display: block;
  width: 94%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dadada;
  box-sizing: border-box;
  margin-left: 3%;
}

.openPositions .job a {
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.openPositions .job .date {
  font-size: 1em;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.openPositions .job .title {
  font-size: 1.4em;
  font-weight: 700;
  display: block;
  margin: 0 0 4px 0;
  padding: 0;
  width: 100%;
}

.openPositions .job .location {
  float: left;
  display: inline-block;
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
  position: relative;
}

.openPositions .job .location a {
  font-weight: 700;
}

.openPositions .job .location:after {
  content: '';
  position: absolute;
  top: -1%;
  right: 0;
  height: 101%;
  width: 1px;
  background: #dadada;
}

.openPositions .job .type {
  float: left;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.aboutContent {
  padding-top: 60px;
  box-sizing: border-box;
}

.aboutContent .aboutImg {
  width: 31.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

.aboutContent .aboutImg img {
  max-width: 100%;
  display: block;
}

.aboutContent .aboutText {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  padding: 0 50px 0 50px;
  box-sizing: border-box;
}

.aboutContent .aboutText h2 {
  margin-bottom: 30px;
}

.aboutContent hr {
  display: block;
  width: 100%;
  height: 1px;
  background: #ebebeb;
  outline: none;
  margin: 40px 0;
}

.aboutContent .splitCol {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.aboutContent .splitCol h2 {
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 40px;
}

.aboutContent .splitCol .text {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.aboutContent .iconGrid {
  box-sizing: border-box;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.aboutContent .iconGrid .iconText {
  width: 31.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  min-height: 20vw;
  padding: 0 1%;
  box-sizing: border-box;
}

.aboutContent .iconGrid .iconText p {
  width: 74%;
  float: right;
}

.aboutContent .iconGrid .iconText strong {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.aboutContent .iconGrid .iconText span[class^='icon2'] {
  color: #799900;
  font-size: 4em;
  width: 20%;
  display: inline-block;
  float: left;
}

.mobileShow {
  display: none;
}

.mobileHide {
  display: inherit;
}

#menuLink {
  position: absolute;
  z-index: 2000;
  display: none;
  top: 30px;
  right: 0;
  border: 1px solid rgba(109, 110, 113, 0.5);
  border-radius: 3px;
  color: #6d6e71;
  padding: 8px;
  box-sizing: border-box;
  font-weight: 700;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

#menuLink .hamburger-box {
  float: left;
}

#menuLink .label {
  float: right;
  position: relative;
  overflow: hidden;
  margin-left: 6px;
}

#menuLink .label span {
  -webkit-transition: .2s all ease-in-out .1s;
  transition: .2s all ease-in-out .1s;
}

#menuLink .label .open {
  position: relative;
  float: left;
}

#menuLink .label .close {
  position: absolute;
  top: 0;
  left: 110%;
}

#menuLink.is-active .label .open {
  opacity: 0;
}

#menuLink.is-active .label .close {
  left: -2%;
}

#Top_bar.stick #menuLink {
  top: 18%;
  right: 2%;
}

html.locked,body.locked {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.offCanvas {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: block;
  z-index: 1000;
  -webkit-transition: .2s all ease-in-out .1s;
  transition: .2s all ease-in-out .1s;
  opacity: 0;
}

.offCanvas.active {
  right: 0;
  opacity: 1;
}

.offCanvas .menuWrapper {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  padding: 75px 8% 8% 8%;
}

.offCanvas nav.mobileMenu {
  display: block;
  float: left;
}

.offCanvas nav.mobileMenu ul {
  width: 100%;
  display: block;
  float: left;
}

.offCanvas nav.mobileMenu li {
  margin: 30px 0;
  display: block;
}

.offCanvas nav.mobileMenu a {
  font-size: 1.6em;
  color: #fff;
  font-weight: 700;
}

.offCanvas nav.mobileMenu a:hover {
  text-decoration: none;
}

.offCanvas nav.mobileMenu ul ul {
  padding-left: 5%;
}

.offCanvas nav.mobileMenu ul ul a {
  font-weight: 400;
}

.offCanvas nav.mobileMenu ul ul ul {
  border-left: 2px solid rgba(255, 255, 255, 0.25);
  padding-left: 15px;
  margin: 20px 10px 25px 10px;
}

.offCanvas nav.mobileMenu ul ul ul li {
  margin: 0;
}

.offCanvas nav.mobileMenu ul ul ul a {
  margin-bottom: 20px;
  display: block;
  font-size: 1.4em;
  font-style: italic;
}

.offCanvas nav.mobileMenu ul ul ul li:last-child a {
  margin-bottom: 0;
}

body.template-slider .offCanvas.active ~ #Top_bar:not(.stick) #menuLink {
  opacity: 0;
  -webkit-transition-delay: .05s;
  transition-delay: .05s;
}

body.template-slider .offCanvas #closeMenu {
  position: absolute;
  z-index: 2000;
  top: -80px;
  right: 2%;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  padding: 8px;
  box-sizing: border-box;
  font-weight: 700;
  -webkit-transition: .2s all ease-in-out .2s;
  transition: .2s all ease-in-out .2s;
}

body.template-slider .offCanvas #closeMenu .hamburger-box {
  float: left;
}

body.template-slider .offCanvas #closeMenu .label {
  float: right;
  position: relative;
  overflow: hidden;
  margin-left: 6px;
}

body.template-slider .offCanvas #closeMenu .hamburger-inner,body.template-slider .offCanvas #closeMenu .hamburger-inner:before,body.template-slider .offCanvas #closeMenu .hamburger-inner:after {
  background-color: #fff !important;
}

body.template-slider .offCanvas #closeMenu .label {
  color: #fff;
}

body.template-slider .offCanvas #closeMenu.is-active {
  top: 12px;
}

.offCanvas.active ~ #Top_bar:not(.stick) #menuLink {
  border-color: #fff;
}

.offCanvas.active ~ #Top_bar:not(.stick) #menuLink .hamburger-inner,.offCanvas.active ~ #Top_bar:not(.stick) #menuLink .hamburger-inner:before,.offCanvas.active ~ #Top_bar:not(.stick) #menuLink .hamburger-inner:after {
  background-color: #fff !important;
}

.offCanvas.active ~ #Top_bar:not(.stick) #menuLink .label {
  color: #fff;
}

.hamburger {
  padding: 0px 0px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.8;
}

.hamburger-box {
  width: 24px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,.hamburger-inner::before,.hamburger-inner::after {
  width: 24px;
  height: 4px;
  background-color: #6d6e71;
  border-radius: 1px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.hamburger-inner::before,.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -8px;
}

.hamburger-inner::after {
  bottom: -8px;
}/*
 * 3DX
 */.hamburger--3dx .hamburger-box {
  -webkit-perspective: 48px;
  perspective: 48px;
}

.hamburger--3dx .hamburger-inner {
  -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before,.hamburger--3dx .hamburger-inner::after {
  -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
  -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}/*
 * 3DX Reverse
 */.hamburger--3dx-r .hamburger-box {
  -webkit-perspective: 48px;
  perspective: 48px;
}

.hamburger--3dx-r .hamburger-inner {
  -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r .hamburger-inner::before,.hamburger--3dx-r .hamburger-inner::after {
  -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.hamburger--3dx-r.is-active .hamburger-inner::before {
  -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

.hamburger--3dx-r.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}/*
 * 3DY
 */.hamburger--3dy .hamburger-box {
  -webkit-perspective: 48px;
  perspective: 48px;
}

.hamburger--3dy .hamburger-inner {
  -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy .hamburger-inner::before,.hamburger--3dy .hamburger-inner::after {
  -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent;
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.hamburger--3dy.is-active .hamburger-inner::before {
  -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

.hamburger--3dy.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}/*
 * 3DY Reverse
 */.hamburger--3dy-r .hamburger-box {
  -webkit-perspective: 48px;
  perspective: 48px;
}

.hamburger--3dy-r .hamburger-inner {
  -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r .hamburger-inner::before,.hamburger--3dy-r .hamburger-inner::after {
  -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.hamburger--3dy-r.is-active .hamburger-inner::before {
  -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

.hamburger--3dy-r.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}/*
 * Arrow
 */.hamburger--arrow.is-active .hamburger-inner::before {
  -webkit-transform: translate3d(-4.8px, 0, 0) rotate(-45deg) scale(0.7, 1);
  transform: translate3d(-4.8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(-4.8px, 0, 0) rotate(45deg) scale(0.7, 1);
  transform: translate3d(-4.8px, 0, 0) rotate(45deg) scale(0.7, 1);
}/*
 * Arrow Right
 */.hamburger--arrow-r.is-active .hamburger-inner::before {
  -webkit-transform: translate3d(4.8px, 0, 0) rotate(45deg) scale(0.7, 1);
  transform: translate3d(4.8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrow-r.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(4.8px, 0, 0) rotate(-45deg) scale(0.7, 1);
  transform: translate3d(4.8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}/*
 * Arrow Alt
 */.hamburger--arrowalt .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: translate3d(-4.8px, -6px, 0) rotate(-45deg) scale(0.7, 1);
  transform: translate3d(-4.8px, -6px, 0) rotate(-45deg) scale(0.7, 1);
  -webkit-transition: top 0.1s ease, -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: translate3d(-4.8px, 6px, 0) rotate(45deg) scale(0.7, 1);
  transform: translate3d(-4.8px, 6px, 0) rotate(45deg) scale(0.7, 1);
  -webkit-transition: bottom 0.1s ease, -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}/*
 * Arrow Alt Right
 */.hamburger--arrowalt-r .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: translate3d(4.8px, -6px, 0) rotate(45deg) scale(0.7, 1);
  transform: translate3d(4.8px, -6px, 0) rotate(45deg) scale(0.7, 1);
  -webkit-transition: top 0.1s ease, -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: translate3d(4.8px, 6px, 0) rotate(-45deg) scale(0.7, 1);
  transform: translate3d(4.8px, 6px, 0) rotate(-45deg) scale(0.7, 1);
  -webkit-transition: bottom 0.1s ease, -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}/*
 * Boring
 */.hamburger--boring .hamburger-inner,.hamburger--boring .hamburger-inner::before,.hamburger--boring .hamburger-inner::after {
  -webkit-transition-property: none;
  transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}/*
 * Collapse
 */.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -16px;
  -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  -webkit-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
  transform: translate3d(0, -8px, 0) rotate(-45deg);
  -webkit-transition-delay: 0.32s;
  transition-delay: 0.32s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}/*
 * Collapse Reverse
 */.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r .hamburger-inner::after {
  top: -16px;
  -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse-r .hamburger-inner::before {
  -webkit-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -8px, 0) rotate(45deg);
  transform: translate3d(0, -8px, 0) rotate(45deg);
  -webkit-transition-delay: 0.32s;
  transition-delay: 0.32s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}

.hamburger--collapse-r.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}/*
 * Elastic
 */.hamburger--elastic .hamburger-inner {
  top: 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 8px;
  -webkit-transition: opacity 0.15s 0.4s ease;
  transition: opacity 0.15s 0.4s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 16px;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 8px, 0) rotate(135deg);
  transform: translate3d(0, 8px, 0) rotate(135deg);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -16px, 0) rotate(-270deg);
  transform: translate3d(0, -16px, 0) rotate(-270deg);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}/*
 * Elastic Reverse
 */.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r .hamburger-inner::before {
  top: 8px;
  -webkit-transition: opacity 0.15s 0.4s ease;
  transition: opacity 0.15s 0.4s ease;
}

.hamburger--elastic-r .hamburger-inner::after {
  top: 16px;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 8px, 0) rotate(-135deg);
  transform: translate3d(0, 8px, 0) rotate(-135deg);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hamburger--elastic-r.is-active .hamburger-inner::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic-r.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -16px, 0) rotate(270deg);
  transform: translate3d(0, -16px, 0) rotate(270deg);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}/*
 * Emphatic
 */.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  -webkit-transition: background-color 0.2s 0.25s ease-in;
  transition: background-color 0.2s 0.25s ease-in;
}

.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  -webkit-transition: top 0.05s 0.2s linear, left 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: top 0.05s 0.2s linear, left 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.hamburger--emphatic .hamburger-inner::after {
  top: 8px;
  right: 0;
  -webkit-transition: top 0.05s 0.2s linear, right 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: top 0.05s 0.2s linear, right 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.hamburger--emphatic.is-active .hamburger-inner {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background-color: transparent;
}

.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -48px;
  top: -48px;
  -webkit-transform: translate3d(48px, 48px, 0) rotate(45deg);
  transform: translate3d(48px, 48px, 0) rotate(45deg);
  -webkit-transition: left 0.2s ease-out, top 0.05s 0.2s linear, -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.2s ease-out, top 0.05s 0.2s linear, -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -48px;
  top: -48px;
  -webkit-transform: translate3d(-48px, 48px, 0) rotate(-45deg);
  transform: translate3d(-48px, 48px, 0) rotate(-45deg);
  -webkit-transition: right 0.2s ease-out, top 0.05s 0.2s linear, -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.2s ease-out, top 0.05s 0.2s linear, -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}/*
 * Emphatic Reverse
 */.hamburger--emphatic-r {
  overflow: hidden;
}

.hamburger--emphatic-r .hamburger-inner {
  -webkit-transition: background-color 0.2s 0.25s ease-in;
  transition: background-color 0.2s 0.25s ease-in;
}

.hamburger--emphatic-r .hamburger-inner::before {
  left: 0;
  -webkit-transition: top 0.05s 0.2s linear, left 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: top 0.05s 0.2s linear, left 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.hamburger--emphatic-r .hamburger-inner::after {
  top: 8px;
  right: 0;
  -webkit-transition: top 0.05s 0.2s linear, right 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: top 0.05s 0.2s linear, right 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.hamburger--emphatic-r.is-active .hamburger-inner {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background-color: transparent;
}

.hamburger--emphatic-r.is-active .hamburger-inner::before {
  left: -48px;
  top: 48px;
  -webkit-transform: translate3d(48px, -48px, 0) rotate(-45deg);
  transform: translate3d(48px, -48px, 0) rotate(-45deg);
  -webkit-transition: left 0.2s ease-out, top 0.05s 0.2s linear, -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.2s ease-out, top 0.05s 0.2s linear, -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic-r.is-active .hamburger-inner::after {
  right: -48px;
  top: 48px;
  -webkit-transform: translate3d(-48px, -48px, 0) rotate(45deg);
  transform: translate3d(-48px, -48px, 0) rotate(45deg);
  -webkit-transition: right 0.2s ease-out, top 0.05s 0.2s linear, -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.2s ease-out, top 0.05s 0.2s linear, -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}/*
 * Slider
 */.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 8px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.hamburger--slider .hamburger-inner::after {
  top: 16px;
}

.hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-3.42857px, -4px, 0);
  transform: rotate(-45deg) translate3d(-3.42857px, -4px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -16px, 0) rotate(-90deg);
  transform: translate3d(0, -16px, 0) rotate(-90deg);
}/*
 * Slider Reverse
 */.hamburger--slider-r .hamburger-inner {
  top: 2px;
}

.hamburger--slider-r .hamburger-inner::before {
  top: 8px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.hamburger--slider-r .hamburger-inner::after {
  top: 16px;
}

.hamburger--slider-r.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 8px, 0) rotate(-45deg);
  transform: translate3d(0, 8px, 0) rotate(-45deg);
}

.hamburger--slider-r.is-active .hamburger-inner::before {
  -webkit-transform: rotate(45deg) translate3d(3.42857px, -4px, 0);
  transform: rotate(45deg) translate3d(3.42857px, -4px, 0);
  opacity: 0;
}

.hamburger--slider-r.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -16px, 0) rotate(90deg);
  transform: translate3d(0, -16px, 0) rotate(90deg);
}/*
 * Spring
 */.hamburger--spring .hamburger-inner {
  top: 2px;
  -webkit-transition: background-color 0s 0.15s linear;
  transition: background-color 0s 0.15s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 8px;
  -webkit-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 16px;
  -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  -webkit-transition-delay: 0.32s;
  transition-delay: 0.32s;
  background-color: transparent;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  -webkit-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 8px, 0) rotate(-45deg);
  transform: translate3d(0, 8px, 0) rotate(-45deg);
}/*
 * Spring Reverse
 */.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r .hamburger-inner::after {
  top: -16px;
  -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear;
}

.hamburger--spring-r .hamburger-inner::before {
  -webkit-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
  transform: translate3d(0, -8px, 0) rotate(-45deg);
  -webkit-transition-delay: 0.32s;
  transition-delay: 0.32s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spring-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.32s linear;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.32s linear;
}

.hamburger--spring-r.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
}/*
 * Stand
 */.hamburger--stand .hamburger-inner {
  -webkit-transition: background-color 0s 0.1s linear, -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: background-color 0s 0.1s linear, -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear;
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear, -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand.is-active .hamburger-inner {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: transparent;
  -webkit-transition: background-color 0s 0.22s linear, -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: background-color 0s 0.22s linear, -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear;
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear, -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: bottom 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}/*
 * Stand Reverse
 */.hamburger--stand-r .hamburger-inner {
  -webkit-transition: background-color 0s 0.1s linear, -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: background-color 0s 0.1s linear, -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear;
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear, -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand-r .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand-r .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand-r.is-active .hamburger-inner {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-color: transparent;
  -webkit-transition: background-color 0s 0.22s linear, -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: background-color 0s 0.22s linear, -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear;
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear, -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand-r.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand-r.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: bottom 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}/*
 * Spin
 */.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-transition-delay: 0.14s;
  transition-delay: 0.14s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}/*
 * Spin Reverse
 */.hamburger--spin-r .hamburger-inner {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin-r .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r.is-active .hamburger-inner {
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  transform: rotate(-225deg);
  -webkit-transition-delay: 0.14s;
  transition-delay: 0.14s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}

.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}/*
 * Squeeze
 */.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.14s ease, opacity 0.1s ease;
  transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0.14s;
  transition-delay: 0.14s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease, opacity 0.1s 0.14s ease;
  transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}/*
 * Vortex
 */.hamburger--vortex .hamburger-inner {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex .hamburger-inner::before,.hamburger--vortex .hamburger-inner::after {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.hamburger--vortex .hamburger-inner::before {
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
}

.hamburger--vortex .hamburger-inner::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}

.hamburger--vortex.is-active .hamburger-inner {
  -webkit-transform: rotate(765deg);
  -ms-transform: rotate(765deg);
  transform: rotate(765deg);
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex.is-active .hamburger-inner::before,.hamburger--vortex.is-active .hamburger-inner::after {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}/*
 * Vortex Reverse
 */.hamburger--vortex-r .hamburger-inner {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex-r .hamburger-inner::before,.hamburger--vortex-r .hamburger-inner::after {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.hamburger--vortex-r .hamburger-inner::before {
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
}

.hamburger--vortex-r .hamburger-inner::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}

.hamburger--vortex-r.is-active .hamburger-inner {
  -webkit-transform: rotate(-765deg);
  -ms-transform: rotate(-765deg);
  transform: rotate(-765deg);
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex-r.is-active .hamburger-inner::before,.hamburger--vortex-r.is-active .hamburger-inner::after {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.hamburger--vortex-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex-r.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.hamburger:focus {
  outline: none;
}/* Slider */.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@media only screen and (min-width: 1060px) and (max-width: 1240px) {
  .aboutContent .iconGrid .iconText strong {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1357px) {
  body#debug:before {
    content: 'super';
  }
}

@media only screen and (max-width: 1356px) {
  body#debug:before {
    content: 'wide';
  }

  .aboutContent .iconGrid .iconText {
    min-height: 24vw;
  }
}

@media only screen and (max-width: 1060px) {
  body#debug:before {
    content: 'desktop';
  }

  nav.mainMenu ul li {
    padding: 0 8px;
  }

  nav.mainMenu ul li a {
    font-size: 1.2em;
  }

  .aboutContent .iconGrid .iconText {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    min-height: 18vw;
  }

  .aboutContent .iconGrid .iconText p {
    width: 78%;
  }

  .aboutContent .iconGrid .iconText span[class^='icon2'] {
    width: 18%;
  }

  .aboutContent .iconGrid .iconText .clearfix {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  .animatedNumbers .column_quick_fact {
    width: 50%;
    float: left;
    margin: 20px 0;
  }

  .animatedNumbers .column_quick_fact span.number {
    font-size: 50px;
    line-height: 50px;
  }

  .timeline ul h2 {
    font-size: 25px;
    line-height: 30px;
  }

  .timeline ul .marker {
    right: 108%;
  }

  .timeline ul li:nth-child(even) .marker {
    left: 108%;
  }
}

@media only screen and (max-width: 920px) {
  body#debug:before {
    content: 'narrow';
  }

  .logoNew {
    width: 21%;
  }

  nav.mainMenu {
    width: 76%;
  }

  nav.mainMenu ul li {
    padding: 0 .85vw;
  }

  nav.mainMenu ul li a {
    font-size: 1.15em;
  }

  nav.mainMenu ul li ul li a {
    font-size: 1.05em;
  }

  .mfn-main-slider .carousel .text p {
    font-size: 1.3em;
  }

  .mfn-main-slider .carousel .text strong {
    font-size: 2.5em;
  }

  .mfn-main-slider .carousel-nav a {
    top: -470%;
  }

  .communityFilter {
    width: 33.33333%;
  }

  .communityGridItem {
    width: 33.33333%;
  }

  .communityGridItem h5 {
    font-size: 18px;
  }

  .communityGridItem .address,.communityGridItem [itemprop="telephone"] {
    font-size: 15px;
    line-height: 150%;
  }

  .team4column {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  .team4column p.subtitle {
    height: 40px;
  }
}

@media only screen and (max-width: 830px) {
  nav.mainMenu ul li {
    padding: 0 .55vw;
  }
}

@media only screen and (max-width: 768px) {
  body#debug:before {
    content: 'narrower';
  }

  .logoNew {
    width: 60%;
  }

  nav.mainMenu {
    width: 35%;
  }

  nav.mainMenu ul {
    display: none;
  }

  nav.mainMenu ul li ul li a {
    font-family: 1em;
  }

  .mfn-main-slider .carousel .slide {
    height: 40vw;
  }

  .mfn-main-slider .carousel .text {
    padding-top: 10%;
  }

  .mfn-main-slider .carousel .text p {
    font-size: 1.1em;
  }

  .mfn-main-slider .carousel .text strong {
    font-size: 2em;
  }

  .mfn-main-slider .carousel-nav a {
    top: -490%;
  }

  .animatedNumbers .column_quick_fact span.number {
    font-size: 70px;
    line-height: 70px;
    float: left;
  }

  .animatedNumbers .column_quick_fact .number-wrapper {
    display: inline-block;
    float: left;
    margin-right: 10px;
  }

  .animatedNumbers .column_quick_fact h3 {
    text-align: left;
    line-height: 80px;
  }

  .homeBlogCarousel {
    background-image: none;
  }

  .caroufredsel_wrapper {
    width: 100% !important;
  }

  .singleLocation .locationInfo {
    width: 100%;
    float: left;
    height: auto;
    margin-bottom: 20px;
  }

  .singleLocation .locationInfo .image {
    position: relative;
    height: 50vw;
    float: left;
    top: auto;
    left: auto;
  }

  .singleLocation .locationInfo .details {
    display: block;
    width: 100%;
    margin: 0;
    padding-bottom: 30px;
  }

  .singleLocation .locationMap {
    width: 100%;
    float: left;
  }

  .singleJobPost .description {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  .singleJobPost .applyForm {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  .communityFilter {
    width: 100%;
    display: block;
  }

  .communityGridItem {
    width: 50%;
  }

  .team4column {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  .team4column h4 {
    min-height: auto;
  }

  .aboutContent .aboutImg {
    display: none;
  }

  .aboutContent .aboutText {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    padding: 0;
  }

  .aboutContent .splitCol h2 {
    text-align: left;
  }

  .aboutContent .splitCol .text {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .aboutContent .iconGrid .iconText {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    min-height: 0;
    height: auto;
    margin-bottom: 20px;
  }

  .aboutContent .iconGrid .iconText span[class^='icon2'] {
    font-size: 10vw;
  }

  #menuLink {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  body#debug:before {
    content: 'mobile';
  }

  .mfn-main-slider .carousel .slide {
    height: 50vw;
  }

  .mfn-main-slider .carousel .text {
    padding-top: 12%;
  }

  .mfn-main-slider .carousel .text strong {
    font-size: 1.75em;
  }

  .animatedNumbers .column_quick_fact span.number {
    font-size: 40px;
    line-height: 40px;
  }

  .animatedNumbers .column_quick_fact h3 {
    line-height: 40px;
  }

  .yearLinks {
    text-align: left;
  }

  .yearLinks p {
    background: #dadada;
    float: left;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0;
    position: relative;
    cursor: pointer;
  }

  .yearLinks p:after {
    content: '';
    position: absolute;
    display: block;
    right: 30px;
    top: 0;
    width: 10px;
    height: 100%;
    background: url("../images/arrow-right-black.svg") no-repeat;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0.75;
  }

  .yearLinks ul li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.5);
  }

  .yearLinks ul a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .yearLinks ul a:hover {
    color: #6d6e71;
  }

  .yearLinks ul {
    height: 1px;
    overflow: hidden;
    background: rgba(218, 218, 218, 0.5);
    text-align: left;
    -webkit-transition: .2s all ease;
    transition: .2s all ease;
  }

  .yearLinks ul.open {
    height: auto;
  }

  .timeline .line {
    left: 2%;
  }

  .timeline ul li:nth-child(odd),.timeline ul li:nth-child(even),.timeline ul li {
    width: 98%;
    margin: 0 0 30px 2%;
    padding: 10px 10px 10px 30px;
    text-align: left;
  }

  .timeline ul li:nth-child(odd):before,.timeline ul li:nth-child(even):before,.timeline ul li:before {
    right: auto;
    left: -1%;
  }

  .timeline ul li:nth-child(odd):after,.timeline ul li:nth-child(even):after,.timeline ul li:after {
    display: none;
  }

  .timeline ul li:nth-child(odd) h2,.timeline ul li:nth-child(even) h2,.timeline ul li h2 {
    font-size: 22px;
    line-height: 24px;
    margin-top: 38px;
  }

  .timeline ul li:nth-child(odd) .marker,.timeline ul li:nth-child(even) .marker,.timeline ul li .marker {
    right: auto;
    left: 24px;
    padding: 0 8px 0 5px;
  }

  .timeline ul li:nth-child(odd) .marker:after,.timeline ul li:nth-child(even) .marker:after,.timeline ul li .marker:after {
    border-left: none;
    border-right: 9.33333px solid #ececec;
    left: auto;
    right: 100%;
  }

  .timeline ul li:nth-child(odd) .image,.timeline ul li:nth-child(even) .image,.timeline ul li .image {
    width: 100%;
    display: block;
    float: none;
  }

  .communityGridItem {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }

  .communityGridItem h5 {
    margin: 10px 0 5px 0;
    font-size: 18px;
  }

  .communityGridItem .address,.communityGridItem [itemprop="telephone"] {
    font-size: 16px;
  }

  .aboutContent .iconGrid .iconText p {
    width: 100%;
  }

  .aboutContent .iconGrid .iconText span[class^='icon2'] {
    width: 100%;
    display: block;
    font-size: 14vw;
    margin-bottom: 10px;
  }

  .mobileShow {
    display: block;
  }

  .mobileHide {
    display: none;
  }
}
