	<div class="section flv_sections_25">
		<div class="section_wrapper clearfix">
			<div class="items_group clearfix"></div>
			
			<div class="section flv_sections_13">
				<div class="section_wrapper clearfix">
					<div class="items_group clearfix">
	
					<!-- Page Title-->
					<div class="column one column_fancy_heading">
						<div class="fancy_heading fancy_heading_line">
							<span class="slogan">Meet our contributors</span>
						</div>
					</div>
					
					<!-- One Second (1/2) Column -->
					<div class="column one-second column_our_team">
						<!-- Team Member Area -->
						<div class="team team_horizontal">
							<div class="image_frame no_link scale-with-grid">
								<div class="image_wrapper">
									<img class="scale-with-grid" src="images/James-Shanks.jpg" alt="James Shanks" />
								</div>
							</div>
							
							<div class="desc_wrapper">
								<h4>James A. Shanks</h4>
								<p class="subtitle">Partner</p>
								<hr class="hr_color" />
								
								<div class="desc">Jamie joined the company in 2007 and is responsible for real estate screening and due diligence as well as managing the acquisition and disposition processes.<br/><a href="#">View Jamie's Full Bio</a></div>
								<div class="links">
									<a href="mailto:noreply@envato.com" class="icon_bar icon_bar_small"><span class="t"><i class="icon-mail"></i></span><span class="b"><i class="icon-mail"></i></span></a><a target="_blank" href="http://facebook.com/" class="icon_bar icon_bar_small"><span class="t"><i class="icon-facebook"></i></span><span class="b"><i class="icon-facebook"></i></span></a><a target="_blank" href="http://twitter.com/" class="icon_bar icon_bar_small"><span class="t"><i class="icon-twitter"></i></span><span class="b"><i class="icon-twitter"></i></span></a><a target="_blank" href="http://www.linkedin.com/" class="icon_bar icon_bar_small"><span class="t"><i class="icon-linkedin"></i></span><span class="b"><i class="icon-linkedin"></i></span></a>
								</div>
							</div>
						</div>
					</div>
	
					<!-- One Second (1/2) Column -->
					<div class="column one-second column_our_team">
						<!-- Team Member Area -->
						<div class="team team_horizontal">
							<div class="image_frame no_link scale-with-grid">
								<div class="image_wrapper"><img class="scale-with-grid" src="images/Amanda-Speed.jpg" alt="Amanda Speed" /></div>
							</div>
	
							<div class="desc_wrapper">
								<h4>Amanda V. Speed</h4>
								<p class="subtitle">CPA, Partner</p>
								<hr class="hr_color" />
								<div class="desc">Amanda joined the company in 1994 and is responsible for accounting, budgeting, treasury management,  investor reporting and ensuring compliance with tax and audit requirements.<br/><a href="#">View Amanda's Full Bio</a></div>
								
								<div class="links">
									<a href="mailto:noreply@envato.com" class="icon_bar icon_bar_small"><span class="t"><i class="icon-mail"></i></span><span class="b"><i class="icon-mail"></i></span></a><a target="_blank" href="http://facebook.com/" class="icon_bar icon_bar_small"><span class="t"><i class="icon-facebook"></i></span><span class="b"><i class="icon-facebook"></i></span></a><a target="_blank" href="http://twitter.com/" class="icon_bar icon_bar_small"><span class="t"><i class="icon-twitter"></i></span><span class="b"><i class="icon-twitter"></i></span></a><a target="_blank" href="http://www.linkedin.com/" class="icon_bar icon_bar_small"><span class="t"><i class="icon-linkedin"></i></span><span class="b"><i class="icon-linkedin"></i></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>