@font-face {
  font-family: 'icomoon';
  src:
    url('icomoon.woff2?qk8m76') format('woff2'),
    url('icomoon.ttf?qk8m76') format('truetype'),
    url('icomoon.woff?qk8m76') format('woff'),
    url('icomoon.svg?qk8m76#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon2-"], [class*=" icon2-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon2-room_service:before {
  content: "\e906";
}
.icon2-search:before {
  content: "\e900";
}
.icon2-cogs:before {
  content: "\e901";
}
.icon2-alarmclock:before {
  content: "\e902";
}
.icon2-chat:before {
  content: "\e903";
}
.icon2-stats:before {
  content: "\e904";
}
.icon2-home:before {
  content: "\e907";
}
.icon2-house:before {
  content: "\e907";
}
.icon2-paste:before {
  content: "\e908";
}
.icon2-clipboard-file:before {
  content: "\e908";
}
.icon2-user-tie:before {
  content: "\e909";
}
.icon2-user:before {
  content: "\e909";
}
.icon2-user-employee:before {
  content: "\e909";
}
.icon2-profile:before {
  content: "\e909";
}
.icon2-avatar:before {
  content: "\e909";
}
.icon2-person:before {
  content: "\e909";
}
.icon2-member:before {
  content: "\e909";
}
.icon2-job:before {
  content: "\e909";
}
.icon2-official:before {
  content: "\e909";
}
.icon2-location:before {
  content: "\e90a";
}
.icon2-map-marker:before {
  content: "\e90a";
}
.icon2-pin:before {
  content: "\e90a";
}
.icon2-users:before {
  content: "\e905";
}
.icon2-group:before {
  content: "\e905";
}
.icon2-team:before {
  content: "\e905";
}
.icon2-members:before {
  content: "\e905";
}
.icon2-community:before {
  content: "\e905";
}
.icon2-collaborate:before {
  content: "\e905";
}
.icon2-thumbs-up:before {
  content: "\f164";
}
.icon2-handshake-o:before {
  content: "\f2b5";
}
